---
name: General Content
sections:
- body
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{author}}">
    <meta name="generator" content="cantilevers">
    <title>{{ project.projectName }} - {{ title }}</title>
    <link rel="stylesheet" href="/css/pico.css">
</head>
<body>
<header class="container">
    <a href="https://www.cantilevers.org/">Home</a>
	<h1>{{title}}</h1>
</header>
<main class="container">
    {{{ body }}}
</main>
</body>
</html>