<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{author}}">
    <meta name="generator" content="cantilevers">
    <title>{{ siteName }}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<section id="banner" class="">
    <div class="">
        <h1 class=""><span class="">{{upper siteName}}</span></h1>
    </div>
</section>
<section id="recent-posts">
    {{ forEach posts }}
        <h2>{{this.title}}</h2>
    {{/forEach }}
</section>
</body>
</html>